.wrapper{
  height: 100vh;
  background-color: rgb(216, 216, 216);
}

.wrapper_outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_inner{
  width: 900px;
  height: 700px;
  border: 5px solid green;
  margin-top: 50px;
  padding: 30px;
  background-color: rgb(96, 185, 96)
}
