.wrapper{
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 220px;
  border: 1px solid;
  padding: 10px;
}


.num{
  display: inline-block;
}