.wrapper{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.input{
  width: 250px;
  border-radius: 5px;
  outline: none;
  border:none;
  height: 35px;
  padding: 5px;
  margin-right: 10px;
  font-size: 0.9rem;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}


.text{
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.text_error{
  text-align: center;
  color: red
}

.error{
  border: 2px red solid;
}
