.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper_inner{
  position: relative;
  width: 500px;
  height: 400px;
  border: 5px solid green;
  border-radius: 10px;
  background-color: rgb(209, 209, 209);
}

.btn_help{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 330px;
}

.information{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.wrapper_bills{
  display: flex;
  justify-content: space-around;
  width: 350px;
  height: 250px;
  /* border: 1px solid; */
  padding: 10px;
  margin-top: 10px
}

.bills{
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 2px solid (241, 241, 241);
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color:rgb(241, 241, 241);
}

.container{
  display: block;

}

.bills_text{
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 600;
}